<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Body</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        <%
            articles.forEach((article, i) => {
        %>
               <tr>
                   <td><%= i + 1%></td>
                   <td><%= article.title %></td>
                   <td><%= article.body %></td>
                   <td class="text-center">
                        <form action="/articles/delete/<%= article.id%>" method="post">
                            <a href="/articles/edit/<%= article.id%>" 
                                class="btn btn-outline-primary">Edit</a>
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                   </td>
               </tr> 
        <%
            });
        %>
    </tbody>
</table>